@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    white-space: pre-wrap; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words if necessary */
    overflow-wrap: break-word; /* Ensures words break to prevent overflow */
}